{% extends 'base.html' %}

{% block head %}About Me{% endblock head %}

{% block title %}About Me{% endblock title %}

{% block conteiner %}<a href="contact.html"><i class="icon-envelope"></i></a>{% endblock conteiner %}

{% block content %}
<div class="col-md-12 blog-post">


    <!-- My Intro Start -->
    <div class="post-title margin-bottom-30">
        <h1>Hi, I am <span class="main-color">Vladislav Yurashevich</span></h1>

        <ul class="knowledge">
            <li class="bg-color-1">Backend developer</li>
            <li class="bg-color-4">Student BSUIR</li>
            <li class="bg-color-6">Freelancer</li>
        </ul>

    </div>
    <!-- My Intro End -->


    <p>Greetings to my first Django site! I am <b>Vladislav Yurashevich</b>, a second year student at BSUIR.
        I'm 19 years old. Ever since high school, I began to understand that my profession would be related
        to the Internet, computers and programming. At the age of 15, I began to be interested in programming
        languages, computer design. Thanks to this, I didn't have to think about where to go, since the road
        to BSUIR was paved for me. The first programming language was <b>Python</b>, so I looked for areas where it
        is used and found - <b>backend development</b>. This is my first work with the Django framework and in the
        future I plan to improve this site.
    </p>


    <!-- My Skills Start -->
    <div class="post-title">
        <h1>My <span class="main-color">Skills</span></h1>
    </div>

    <div class="list list-style-2 margin-top-30">
        <ul>
            <li>Python</li>
            <li>C++</li>
            <li>HTML</li>
            <li>CSS</li>
            <li>Backend development</li>
        </ul>
    </div>
    <!-- My Skills End -->

</div>
{% endblock content %}